/* Page styling sheet
 * 
 * ©Michael Wilson */
body {
	background-color: black;
	/*background-color: #fff;*/
	/*padding: 10px;*/			
}

h1, h2, h3 {
	color: hotpink;
}

#navigation a {
	color: white;
}

/* Styling for the navigation bar */
#navigation {
	width: 100%;
	top:0;
	padding: 10px;
	z-index: 1;
	position: fixed;		
}

#navigation ul {	
	display: inline;
	list-style-type: none;	
}
#navigation li {
	padding: 20px;
	display: inline-block;
}

.learn + table, table {	
	background-color: #f3f3f3;	
}
/*
table:not(.learn + table){
	margin: auto;
}*/

td, tr, th {	
	border: 1px solid black;
	padding: 4px;
}

#resources ul {
	list-style-type: none;
}

.announcements td, .announcements tr, .announcements th {
	border: none;
}

.announcements {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	background-color: white;
	box-shadow: none;
	text-align: left;
}

table, .project-image {
	box-shadow: 3px 3px grey;
}

#projects {
	opacity: 0.9;
}

.project-languages {
	list-style-type: none;	
}

/* styling to make logos appear to be more modern */
.logo-modern {
	border-radius: 50%;
}

.container {
	padding: 80px 120px;
}

.bold {
	font-weight: bold;
}

/* General styling for the images with the logo class */
.logo, .logo-modern {
	margin: 25px;
	height: 100px;
	width: 100px;
	/*margin-bottom: 25px;*/
}

/* styling for various project images */
.project-image, .endeavor-image {
	border: 2px solid grey;
}

.project-image {
	height: 100px;
	width: 100px;	
}

#endeavor-highlight, #endeavor-updates {
	text-align: center;
}

.endeavor-image {	
	height: 250px;
	width: 75%;
}

a > img:hover {
	animation-name: scale;
}

a:hover {
	animation-name: colorMod;
}

a > img:hover, a:hover {	
	animation-timing-function: ease;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

a {
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	color:orange;
}

/** ANIMATIONS */
@keyframes scale {
	0% {
		transform:scale(1, 1);
	}
	25% {
		transform:scale(1.1, 1.1);
	}
	50% {
		transform:scale(1, 1);
	}
	75% {
		transform:scale(1.1, 1.1);
	}
	100% {
		transform:scale(1, 1);
	}
}

@keyframes colorMod {
	0% {
		color:red;		
		transform:scale(1, 1);
	}
	25% {
		color:lightgreen;		
		transform:scale(1.1, 1.1);
	}
	50% {
		color:lightblue;
		transform:scale(1, 1);
	}
	75% {
		color:yellow;		
		transform:scale(1.1, 1.1);
	}
	100% {
		color:orange;		
		transform:scale(1, 1);
	}
}

/* STYLING FOR THE EVENTS SECTION */
.events {
	background: #2d2d30;
	color: #bdbdbd;
}

.events h3 {
	color: #fff;
}

.events p {
	font-style: italic;
}

.thumbnail {
	padding: 0px 0px 15px 0px;
	border: none;
	border-radius: 0px;
}

.thumbnail p {
	margin-top: 15px;
	color: #555;
}

h4 {
	text-decoration: underline;
}

/* Styling for icon type images */
.icon {
	height: 50px;
	width: 50px;
}

body {
	text-align: center;
}

#who-am-i > .row > div[class^="col-md-"] {
	padding: 0;
}

.slideshow-image {
	width: 100%;
	height: 300px;
}

/** SPECIFIC TO LARGE SCREEN DEVICES */
@media screen and (min-width: 621px) {
	
	#resources {
		margin-bottom: 100px;
		margin-left:auto;
		margin-right: auto;
		width: 50%;
		font-size: 26px;
		text-align: left;
	}

	table {
		margin: auto;
	}
}