/* Page styling sheet
 * 
 * ©Michael Wilson */

/* styling to make logos appear to be more modern */
.logo-modern {
	border-radius: 50%;
}

/* Styles all information text */
.info:hover, .info {
	text-decoration: none;	
}

.info:hover {
	cursor: pointer;	
}

.info:hover:nth-of-type(1n) {	
	background-color: red;
}

.info:hover:nth-of-type(2n) {	
	background-color: blue;
}

.info:hover:nth-child(3n) {	
	background-color: lightgreen;
}

.container {
	padding: 80px 120px;
}

.bold {
	font-weight: bold;
}

/* General styling for the images with the logo class */
.logo, .logo-modern {
	margin: 25px;
	height: 200px;
	width: 200px;
	/*margin-bottom: 25px;*/
}

.project-image {
	border: 2px solid grey;
	box-shadow: 2px 2px grey;
}

.logo:hover{
	opacity: 0.6;
}

.carousel-inner img {
	width: 100%;
	margin: auto;
}

.carousel-caption h3 {
	color: #fff !important;
}

/* STYLING FOR THE EVENTS SECTION */
.events {
	background: #2d2d30;
	color: #bdbdbd;
}

.events h3 {
	color: #fff;
}

.events p {
	font-style: italic;
}

.thumbnail {
	padding: 0 0 15 0;
	border: none;
	border-radius: 0;
}

.thumbnail p {
	margin-top: 15px;
	color: #555;
}

/*
.btn {
	padding: 10px 20px;
	background-color: #333;
	color: #f1f1f1;
	border-radius: 0;
	transition: 0.2s;
}

.btn:hover, .btn:focus {
	border: 1px solid #333;
	background-color: #fff;
	color: #000;
}


@media (max-width: 680px) {
	.carousel-caption {
		display: none;
	}
}*/