/** 
 * Michael Wilson
 *
 * My simple stylesheet 
 * Color scheme: monokai */

body {
	padding: 3px;
	background-color: #272822;	
}

li a, body {
	color: #66D9EF;	
}

code/* code a*/ {
	color: #A6E22E;
	/*color: white;*/
}

code a, span {
	color: #FD971F;
}


h3 {
	text-indent: 10px;
}

h4 {
	text-indent: 20px;
}

h4 + *, code {
	text-indent: 40px;
}

a:hover:not(code a) {	
	font-size: 18px;
}

/* Styrling for anchor tags in code */
code a {
	font-weight: bold;
	text-decoration: none;		
}

h1, #highlight {
	text-align: center;
}

ul, ol {
	list-style-type: none;
}


#highlight {
	border: 1px solid black;
	box-shadow: 2px 2px 1px grey;
	background-color: lightgrey;
	position: relative
}

#highlight, .wrapper {
	margin: auto;
	width: 580px;
	border-radius: 10px;
}

/* Wrapper for highlights */
.wrapper {
	top:0;
	left:0;
	height: 100%;
	position: absolute;	
	opacity: 0;
	/*outline: lightgrey solid 2px;
	outline-radius: 10px;
	-moz-outline-radius: 10px;
	-webkit-outline-radius: 10px;*/
	border: lightgrey solid 2px;
}

.wrapper:hover {
	animation: pulse 1s infinite;
}

/* Function for hovering over the highlight */
@keyframes pulse {
	0% {
		transform:scale(1, 1);
		opacity: 0.8;
	}
	100% {
		transform:scale(1.1, 1.35);
		opacity: 0;
	}
}

#highlight:hover {
	cursor: pointer;
}


span {
	font-weight: bold;
}

span:hover {
	cursor: crosshair;
}

/* Styling for the highlighted problem of the day */
#special-highlight {
	text-decoration: none;
}

/* Make the text inside of highlight box black */
#special-highlight h2 {
	color: black;
}


h1, h2, h3, h4, a:hover{
	color: #F92672;
}

@media screen and (max-width: 580px) {
	#highlight {
		width: 100%;
	}
}