/* Simple styling sheet
   Michael Wilson */

#container {
	position: relative;
	width: 100%;
	height: 600px;
	border: 1px solid blue;
}

.moveable {
	position: absolute;
	border-radius: 50%;
	height: 100px;
	width: 100px;		
}

.moveable:hover {
	background-color: red;
	cursor: grab;	
}